*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.header {
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  
}

.container {
    position: relative;
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
}
.style{
    padding-left: 300px;
}
.cham{
    display: inline-block;
    padding: 30px 5px;
    
    
}
.home{
    color: red;
    font-weight: bold;
    font-size: 18px;
}
.home:hover{
    color: aqua;
}
.logo{
    position: absolute;
    padding-top: 5px;
}
.login{
    position: absolute;
    right: 100px;
    top: 26px;
}
.write{
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.login1{
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    background-color: red;
    padding: 5px;
}

.login1:hover{
    background-color: rgb(172, 37, 37);
}
.nav{
    position: absolute;
    height: 250px;
    width: 350px;
    border: 1px solid red;
    top: 150px;
    left: 500px;
}
h3{
    text-align: center;
}
.mang{
    position: absolute;
    top: 30px;
    left: 10px;
    font-weight: bold;
}
.internet{
    margin: 15px 0px 10px 10px;
    padding: 3px 75px 3px 5px;
}
.menhgia{
    position: absolute;
    top: 85px;
    left: 10px;
    font-weight: bold;
}
.prince{
    margin: 20px 0px 10px 10px;
    padding: 3px 60px 3px 5px;
}
.soluong{
    position: absolute;
    top: 140px;
    left: 10px;
    font-weight: bold;
}
.quantily{
    margin: 20px 0px 10px 10px;
    padding: 3px 125px 3px 5px;
}
.footer{
    width: 100%;
    height: 100px;
    position: absolute;
    top: 500px;
    left: 0px;
    background-color: black;
}
.production{
    position: absolute;
    background-color: black;
    width: 300px;
    height: 100px;
    padding-top: 25px;
    padding-left: 15px;
    color: white;
}
.production2{
    position: absolute;
    background-color: black;
    width: 400px;
    height: 100px;
    padding-top: 10px;
    padding-left: 15px;
    left: 400px;
    color: white;
}
.hotline{
    position: absolute;
    width: 300px;
    height: 100px;
    background-color: black;
    right: 10px;
    padding-top: 30px;
    font-weight: bold;
    color: white;
}